<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="hello_world" class="demo.HelloWorld" 
        init-method="init" destroy-method="destroy">
        <property name="message1" value="Hello World!" />
        <property name="message2" value="Hello Second World!" />
    </bean>
    <bean class="demo.InitHelloWorld" />
    
    <bean id="hello_china" class="demo.HelloChina" parent="hello_world">
        <property name="message1" value="Hello China!" />
        <property name="message3" value="Hello China 3" />
    </bean>

    <bean id="text_editor" class="demo.di.TextEditor">
        <constructor-arg ref="spell_checker" />
    </bean>
    
    <bean id="spell_checker" class="demo.di.SpellChecker">
    </bean>

</beans>